.msgbox {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 1;
}

.msgbox.ng-hide-add,
.msgbox.ng-hide-remove {
    opacity: 0;
}

.msgbox.ng-hide-add.ng-hide-add-active,
.msgbox.ng-hide-remove {
    opacity: 0;
}

.msgbox.ng-hide-remove.ng-hide-remove-active,
.msgbox.ng-hide-add {
    opacity: 0;
}