<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>sample</title>
    <script src="../../lib/angular.min.js"></script>
    <script>
    </script>
    <style>
        span {
            color:black;
        }
    </style>
</head>
<body>
    <input type="button" value="set" ng-click="myStyle={color: 'red'}">
    <input type="button" value="clear" ng-click="myStyle={}">
    <br/>
    <span ng-style="myStyle">Sample Text</span>
    <pre>myStyle = {{myStyle}}</pre>
</body>
</html>